<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>FMR</title>
    {% endif %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  </head>
  <body>
  <div class="ot">
  <center>
    <h2>
      {%if valid == 'parent'%}
    <a href="/index">Домашняя страница</a>
    <a href="/add_child">Добавить ребенка</a>
    <a href="/view_task">Посмотреть задания</a>
    <a href="/logout">Выход</a>
      {% elif valid == 'children'%}
    <a href="/index">Домашняя страница</a>
    <a href="/view_task">Посмотреть задания</a>
    <a href="/logout">Выход</a>
      {% else %}
    <a href="/index">Домашняя страница</a>
    <a href="/registration">Регистрация</a>
    <a href="/login">Авторизация</a>
      {% endif%}
  </center></div></h2>
    {% block content %}{% endblock %}
  </body>
</html>