<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Дневник </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">Главная</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/score">Дневник</a></li>
                    <li><a href="/add_child">Зарегистрировать ребенка</a>
                    <li><a href="/view_task">Задачи</a></li>
                    <li><a href="/requests">Запросы от ребенка</a></li>
                    <li><a href="/pay_children">Перевести деньги</a></li>
                    <li><a href="/block_pay_children">Оштрафовать</a></li>
                    <li><a href="/logout">Выход</a></li>
                    <li><a href="/logout">Выход</a></li>
                </ul>
            </div>
        </div>
    </nav>


<div class="container-fluid">
    <div class="container-fluid">
    </div>
    <table class="table table-bordered table-hover ">
<thead>
            <tr class="active">
                <th>ФИО детей</th>
                <th>Predmet1</th>
                <th>Predmet2</th>
                <th>Predmet3</th>
                <th>Predmet4</th>
                <th>Predmet5</th>
                <th>Predmet6</th>
                <th>Predmet7</th>
                <th>Predmet8</th>
                <th>Predmet9</th>
                <th>Predmet10</th>
                <th>Средняя оценка</th>

            </tr>
        </thead>
        <tbody>
        <tr>

              {% for i in users %}


                {% for j in users[i] %}
                    <td>{{users[i][j]}}</td>

                {% endfor %}
                               </tr>
                    {% endfor %}




        </tbody>
    </table>

<form action="" method="post" name="score", class="inline">
    {{form.hidden_tag()}}

    <br>
     {{form.childrens(size=5)}}
        {% for error in form.errors.childrens %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>


        <label for="coin">Цена</label>
        <input class="form-control" {{form.coin(size=40)}}
        {% for error in form.errors.coin %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

    <p><input type="submit" value="Перевести"></p>
</form>

    <h4 class="text-width">Это дневник ваших детей. Вы можете похвалить ребенка выбрав его в списке и указав сумму для первода.</h4><br>

</div>
</body>
</html>
