<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<center>
<div class="main">
<h1>View task</h1>

    <!-- фамилия имя отество когда заходит ребенок-->
    <h>{% for i in fio%}
        {{i}}
        {% endfor %}</h>

    <!-- описание цена статус-->
    <h>{% for i in tasks%}
        {{i[3]}} {{i[4]}} {{i[5]}}
        <br><br>
        {% endfor %}</h>


     <!-- фамилия имя отество описание цена статус когда заходит родитель-->
    <h>{% for i in tasksp%}
      {{i[0]}} {{i[1]}} {{i[2]}} {{i[3]}} {{i[4]}} {{i[5]}}
        <br><br>
        {% endfor %}</h>
</div>
</center>
{% endblock %}